{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    {% set first = page.footer.navigation.tree|first %}
    {% set all = page.footer.navigation.tree|slice(1) %}

    {% block layout_footer_navigation %}
        <div class="tr-footer-navigation" data-collapse-footer="true">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="tr-footer-images row justify-content-center">
                        {% set footerCertsId = context.salesChannel.customFields.custom_footer_certs_logos | trans %}
                        {% if footerCertsId %}
                            {% set mediaCollection = searchMedia([footerCertsId], context.context) %}
                            {% set footerCerts = mediaCollection.get(footerCertsId) %}
                                <div class="tr-footer-images-shipping__item">
                                    {% sw_thumbnails 'footer-certs-image-thumbnails' with {
                                            media: footerCerts,
                                            sizes: {
                                                'default': '100px'
                                            }
                                        } %}
                                </div>
                        {% endif %}
                        {% block layout_footer_payment_logosbox %}
                            {% block layout_footer_payment_logos %}
                                {% for paymentMethod in page.salesChannelPaymentMethods %}
                                    {% block layout_footer_payment_logo %}
                                        {% if paymentMethod.media %}

                                            <div class="tr-footer-images-shipping__item">
                                                {% sw_thumbnails 'footer-payment-image-thumbnails' with {
                                                    media: paymentMethod.media,
                                                    sizes: {
                                                        'default': '100px'
                                                    },
                                                    attributes: {
                                                        'alt': (paymentMethod.media.translated.alt ?: paymentMethod.translated.name),
                                                        'title': (paymentMethod.media.translated.title ?: paymentMethod.translated.name)
                                                    }
                                                } %}
                                            </div>
                                        {% endif %}
                                    {% endblock %}
                                {% endfor %}
                            {% endblock %}
                        {% endblock %}

                        {% block layout_footer_shipping_logosbox %}
                            {% block layout_footer_shipping_logos %}
                                {% for shippingMethod in page.salesChannelShippingMethods %}
                                    {% block layout_footer_shipping_logo %}
                                        {% if shippingMethod.media %}
                                            <div class="tr-footer-images-shipping__item">
                                            {% sw_thumbnails 'footer-shipping-image-thumbnails' with {
                                                media: shippingMethod.media,
                                                sizes: {
                                                    'default': '100px'
                                                },
                                                attributes: {
                                                    'alt': (shippingMethod.media.translated.alt ?: shippingMethod.translated.name),
                                                    'title': (shippingMethod.media.translated.title ?: shippingMethod.translated.name)
                                                }
                                            } %}
                                            </div>
                                        {% endif %}
                                    {% endblock %}
                                {% endfor %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block layout_footer_bottom %}
        <div class="tr-footer-bottom" data-collapse-footer="true">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 footer-column footer-column_nav js-footer-column">
                        <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger"
                             data-target="#collapseFooterTitle1"
                             aria-expanded="true"
                             aria-controls="collapseFooter1">
                            {{ first.category.translated.name }}
                            <div class="footer-column-toggle">
                                <span class="footer-plus-icon">
                                    {% sw_icon 'plus' %}
                                </span>
                                <span class="footer-minus-icon">
                                    {% sw_icon 'minus' %}
                                </span>
                            </div>
                        </div>
                        <div id="collapseFooter1"
                             class="footer-column-content collapse js-footer-column-content"
                             aria-labelledby="collapseFooterTitle1">
                            <div class="footer-column-content-inner">
                                <ul class="list-unstyled">
                                    {% for treeItem in first.children %}
                                        {% set category = treeItem.category %}
                                        {% set name = category.translated.name %}
                                        {% set externalLink = category.translated.externalLink %}
                                        <li class="footer-link-item">
                                            <a class="footer-link" href="{% if externalLink %}{{ externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}{% endif %}">
                                                {{ name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 footer-column js-footer-column">
                        <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger"
                             data-target="#collapseFooterTitle3"
                             aria-expanded="true"
                             aria-controls="collapseFooter3">
                            Adresse
                            <div class="footer-column-toggle">
                        <span class="footer-plus-icon">
                            {% sw_icon 'plus' %}
                        </span>
                                <span class="footer-minus-icon">
                            {% sw_icon 'minus' %}
                        </span>
                            </div>
                        </div>
                        <div id="collapseFooter3"
                             class="footer-column-content collapse js-footer-column-content"
                             aria-labelledby="collapseFooterTitle1">
                            <div class="footer-column-content-inner">
                                <div class="tr-footer-address">Terra Australia <br>
                                    {{ "terraAustralia.footer.contactsAddresse1"|trans }}<br>
                                    {{ "terraAustralia.footer.contactsAddresse2"|trans }}<br>
                                    <a href="tel:{{ 'terraAustralia.footer.contactsPhone'|sw_sanitize|trans }}">{{ "terraAustralia.footer.contactsPhone"|sw_sanitize|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for root in all %}
                        <div class="col-md-6 col-lg-3 footer-column js-footer-column">
                            <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger"
                                 data-target="#collapseFooterTitle{{ loop.index + 1 }}"
                                 aria-expanded="true"
                                 aria-controls="collapseFooter{{ loop.index + 1 }}">
                                {{ root.category.translated.name }}
                                <div class="footer-column-toggle">
                                    <span class="footer-plus-icon">
                                        {% sw_icon 'plus' %}
                                    </span>
                                    <span class="footer-minus-icon">
                                        {% sw_icon 'minus' %}
                                    </span>
                                </div>
                            </div>
                            <div id="collapseFooter{{ loop.index + 1 }}"
                                 class="footer-column-content collapse js-footer-column-content"
                                 aria-labelledby="collapseFooterTitle{{ loop.index + 1 }}">
                                <div class="footer-column-content-inner">
                                    <ul class="list-unstyled">
                                        {% for treeItem in root.children %}
                                            {% set category = treeItem.category %}
                                            {% set name = category.translated.name %}
                                            {% set externalLink = category.translated.externalLink %}
                                            <li class="footer-link-item">
                                                <a class="footer-link" href="{% if externalLink %}{{ externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}{% endif %}">
                                                    {{ name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tr-copyright row justify-content-between">
                    <div class="col-auto tr-copyright__text">© {{ "now"|date('Y') }}. {{ "terraAustralia.footer.allRightsReserved"|sw_sanitize|trans }}</div>
                    <div class="col-auto">
                        <nav class="top-bar-nav">
                            {% block layout_header_top_bar_language %}
                                {% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}
                            {% endblock %}

                            {% block layout_header_top_bar_currency %}
                                {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}
                            {% endblock %}
                        </nav>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto">{{ "terraAustralia.footer.deliveryInfo"|trans }}</div>
                    <div class="col-auto">{{ "terraAustralia.footer.refundInfo"|trans|raw }}</div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
