{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_info %}
    <div class="product-info">

        <div class="product-info-top">
            {% block component_product_box_category %}
                {% if product.categories and product.categories.count() > 0 %}
                    {% set lastCategory = product.categories|last %}
                    {# if needed link #}
                    {# <div class="tr-product-category">
                        <a href="{{ seoUrl('frontend.navigation.page', {'navigationId': lastCategory.id}) }}" class="tr-product-category__text">{{ lastCategory.translated.name }}</a>
                    </div>
                    #}
                    
                    <div class="tr-product-category"><span class="tr-product-category__text">{{ lastCategory.translated.name }}</span></div>
                {% else %}
                    <div class="tr-product-category"><span class="tr-product-category__text"></span></div>
                {% endif %}
            {% endblock %}

            {% block component_product_box_name %}
                {% if product.parent %}
                    {% set name = product.parent.translated.name %}
                {% endif %}
                <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                   class="product-name"
                   title="{{ name }}">
                    {{ name }}
                </a>
            {% endblock %}

            {% block component_product_box_price %}
                {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
            {% endblock %}
        </div>

        {% block component_product_box_action %}
            {% sw_include '@Storefront/storefront/component/product/card/action.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
